body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background: #de9606;
}

.stopwatch {
    text-align: center;
}

#display {
    font-size: 2em;
    margin: 10px 0;
}

button {
    font-size: 1em;
    margin: 5px;
    padding: 5px 10px;
}

ul {
    list-style-type: none;
    padding: 0;
}
